{{> navbar}}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="assets/css/products.css">
<style>
{{#if products}}
{{#each products}}
    .section-products #product-{{this.code}} .part-1::before {
        background: url({{this.thumbnail}}) no-repeat center;
        background-size: cover;
            transition: all 0.3s;
    }
{{/each}}
{{/if}}
</style>
<div class="container_change spinner-hidden">
    <div class="spinner-border text-ligth" role="status" style="margin-left: 50%;margin-top: 20%;">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                        <div class="header">
                                <h3>Productos Destacados</h3>
                                <h2>Los Productos más Populares</h2>
                        </div>
                </div>
        </div>
        {{#if products}}
            <div class="row">
                {{#each products}}
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{this.code}}" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a class="cart-button" data-value={{this._id}}><i class="fas fa-shopping-cart"></i></a></li>
                                    <li><a><i class="fas fa-share"></i></a></li>
                                    <li><a><i class="fas fa-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">{{this.title}}</h3>
                                <h4 class="product-price">${{this.price}}</h4>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="row">
                <div class="col-md-12 no-products">
                    <h3>No hay productos</h3>
                </div>
            </div>
        {{/if}}
    </div>
</section>
<script>
    window.onload= async() => {
        await checkNewProduct()
        const items = document.querySelectorAll('.cart-button');
        items.forEach(item => {
            item.addEventListener('click', async() =>{
                const spinner = document.querySelector('.container_change');
                spinner.classList.remove('spinner-hidden');
                document.body.style.overflow = "hidden";
                const user = await checkLogin()
                if(user.status){
                    if(await checkStock({id: item.dataset.value, cant: "++"})){
                        await addToCart(item.dataset.value)
                    }else{
                        alert('No hay stock suficiente')
                    }
                }else{
                    window.location.href = '/login'
                }
                spinner.classList.add('spinner-hidden');
                document.body.style.overflow = "auto"
            });
        });
    }
    async function checkLogin(){
        const response = await fetch('/api/user/login', {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
        const data = await response.json()
        if(!data.value){
            console.log(data)
        }
        return data
    }
    async function addToCart(product){
        const data = await fetch(`/api/carrito/add/producto/${product}`,{
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
            },
        })
        const response = await data.json()
        if(response.status != "OK"){
            console.log(response)
            alert('Error al agregar al carrito')
        }
    }
    async function checkStock({id, cant}) {
        const response = await fetch(`/api/carrito/stock/producto/${id}/${cant}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
        const data = await response.json()
        if(!data.value){
            console.log(data)
        }
        return data.value
    }
    async function getProducts(){
        const response = await fetch('/api/productos',{
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
        const data = await response.json()
        if(!data.value){
            console.log(data)
        }
        return data.productos
    }
    async function checkNewProduct(product){
        const products = await getProducts();
        const currentDay = new Date().toISOString().slice(0, 10);
        for(let i = 0; i < products.length; i++){
            if(currentDay === (products[i].timestamp).slice(0, 10)){
                const element = document.getElementById(`product-${products[i].code}`);
                const child = element.getElementsByClassName('part-1')[0];
                child.innerHTML += `<span class="new">new</span>`;
            }
        }
    }
</script>