{{> navbar}}
<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/css/user_order.css" rel="stylesheet" id="bootstrap-css">
<!-- Include the above in your HEAD tag -->

<div class="cart-wrap">
    <div class="container">
        <div class="row bg-white" style="border-radius: 5px;">
            <hr class="col-md-12">
                <div class="main-heading mb-10">Pedido #{{order.code}}</div>
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Nombre de producto</th>
                                <th width="10%" class="text-center">Marca</th>
                                <th width="15%" class="text-center">Precio por unidad</th>
                                <th width="10%" class="text-center">Cantidad</th>
                                <th width="15%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each order.products}}
                                <tr>
                                    <td width="45%">
                                        <div class="display-flex align-center">
                                            <div class="img-product">
                                                <img src="{{this.thumbnail}}" alt="" class="mCS_img_loaded">
                                            </div>
                                            <div class="name-product">
                                                {{this.title}}
                                            </div>
                                        </div>
                                    </td>
                                    <td width="10%" class="text-center">{{this.brand}}</td>
                                    <td width="15%" class="price text-center">$ {{this.price}}</td>
                                    <td width="10%" class="price text-center">{{this.quantity}}</td>
                                    <td width="15%"><a href="/productos"><button class="round-black-btn small-btn">Volver a comprar</button></a></td>
                                    <td width="10%" class="text-center"><svg class="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M256 0c-35 0-64 59.5-64 93.7v84.6L8.1 283.4c-5 2.8-8.1 8.2-8.1 13.9v65.5c0 10.6 10.2 18.3 20.4 15.4l171.6-49 0 70.9-57.6 43.2c-4 3-6.4 7.8-6.4 12.8v42c0 7.8 6.3 14 14 14c1.3 0 2.6-.2 3.9-.5L256 480l110.1 31.5c1.3 .4 2.6 .5 3.9 .5c6 0 11.1-3.7 13.1-9C344.5 470.7 320 422.2 320 368c0-60.6 30.6-114 77.1-145.6L320 178.3V93.7C320 59.5 292 0 256 0zM640 368a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L480 385.4l60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z"/></svg></td>
                                </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
                <hr></hr>
                <div class="container">
                    <div class="item">
                        <p>SubTotal: <strong>${{order.subTotal}}</strong></p>
                    </div>
                    <div class="item">
                        <p>Envío: <strong>${{order.shipping}}</strong></p>
                    </div>
                </div>
                <hr></hr>
                <div class="item">
                    <p>Total: <strong>${{order.total}}</strong></p>
                </div>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/user/ordenes';" data-mdb-ripple-color="dark">Volver a Mis Pedidos</button>
            </div>
        </div>
    </div>
</div>
	